
html {
  scroll-snap-stop: y mandatory;
}

.App {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.app_vedios::-webkit-scrollbar {
  display: none;
}

.app__videos {
  position: relative;
  height: 800px;
  overflow: scroll;
  width: 100%;
  max-width: none;
  scroll-snap-type: y mandatory;
}
